<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i>
        <img src="../images/logo.png" width="200px">
    </div>
    <div class="d-flex align-items-center">
        <div class="header_img">
            <img src="https://i.imgur.com/hczKIze.jpg" alt="">

        </div>
        <!-- <div>
            <li class="dropdown list-unstyled">
                <a class="dropdown-toggle text-dark" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <ul class="dropdown-menu profile-top-navbar text-center" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <form action="/admin/logout" method="post" id="gen-logout">
                            <button type="submit" class="dropdown-item" href="#">Logout</button>
                        </form>
                    </li>
                </ul>
            </li>
        </div> -->

        <div>
            <li class="nav-item dropdown dropdown-large" style="list-style: none;">
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret text-dark
                position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-end p-1">
                    <div class="header-notifications-list">
                        <form action="/admin/logout" class="dropdown-item" method="post" id="gen-logout">
                            <div class="row d-flex justify-content-between align-items-center flex-lg-nowrap">
                                <div class="col-2 notify bg-light-danger text-danger fs-3 mx-lg-1">
                                    <i class="fas fa-sign-out-alt  fontawesome-icons
                                    fontawesome-icons"></i></div>
                                <div class="col-10">
                                        <button type="submit" class="dropdown-item dropdown-logout p-0 shadow-none bg-none border-0" href="#">Logout</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </li>

        </div>



        <!-- </form> -->
    </div>
</header>


