<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <meta name="keywords"
        content="HTML5,CSS3,HTML,Template,Multi-Purpose,M_Adnan,Corporate Theme,Sprint HTML5,Sprint HTML5 - Multi Purpose HTML5 Template">
    <meta name="description" content="Sprint HTML5 Template">
    <meta name="author" content="M_Adnan">

    <!-- FONTS ONLINE -->
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!--MAIN STYLE-->
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/shop/css/style.css">
    <link href="css/style1.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">


</head>

<body>

    <!-- Page Wrap -->
    <div id="">
        <div id="main-wrapper">

            <%- include('partials/head.ejs') %>

                <!--======= SUB BANNER =========-->
                <section class="sub-banner">
                    <div class="container">
                        <div class="position-center-center">
                            <h2>CONTACT US</h2>
                        </div>
                    </div>
                </section>

                <!--======= MAP =========-->
                <!-- <div id="map"> </div> -->

                <!--======= Contact Section =========-->
                <section class="sectoion-100px contact contact-page">
                    <div class="container">
                        <!-- Tittle -->
                        <div class="tittle">
                            <h4>contact us</h4>
                            <p>Email us if you have any query. We would be happy to answer your questions and set up a meeting with you.</p>
                        </div>
                        <div class="row">

                            <!-- Contact Info -->
                            <div class="col-md-4 col-12">
                                <div class="contct-info">
                                    <h5>Get in touch</h5>
                                    <ul>

                                        <!-- ADDRESS -->
                                        <li class="media">
                                            <div class="media-left">
                                                <div class="icon"> <i class="fa fa-map-marker"></i></div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">ADDRESS</h6>
                                                <p>09 Design Street, Downtown
                                                    Victoria, Australia</p>
                                            </div>
                                        </li>

                                        <!-- call -->

                                        <li class="media">
                                            <div class="media-left">
                                                <div class="icon"> <i class="fa fa-mobile-phone"></i> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">call us</h6>
                                                <p>+10 123 456 78<br>
                                                    +10 123 456 98</p>
                                            </div>
                                        </li>

                                        <!-- e-mail -->
                                        <li class="media">
                                            <div class="media-left">
                                                <div class="icon"> <i class="fa fa-envelope-o"></i> </div>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">e-mail</h6>
                                                <p>Info@fitapp.com </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 col-12">
                                <div class="contact-form">
                                    <!--======= FORM  =========-->
                                    <form role="form" id="contactForm" class="contact-form">
                                        <ul class="row">
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="text" class="form-control" name="name" id="name"
                                                        placeholder="*NAME" required>
                                                </label>
                                            </li>
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="email" class="form-control" name="email" id="email"
                                                        placeholder="*EMAIL" required>
                                                </label>
                                            </li>
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="number" class="form-control" name="company" id="contact"
                                                        placeholder="PHONE" required>
                                                </label>
                                            </li>
                                            <li class="col-sm-6">
                                                <label>
                                                    <input type="text" class="form-control" name="subject" id="subject"
                                                        placeholder="SUBJECT" required>
                                                </label>
                                            </li>
                                            <li class="col-sm-12">
                                                <label>
                                                    <textarea class="form-control" name="message" id="message" rows="5"
                                                        placeholder="*MESSAGE" required></textarea>
                                                </label>
                                            </li>
                                            <li class="col-sm-12 no-margin">
                                                <button type="submit" value="submit" class="btn shadow-none border-0 outline-0" id="btn_submit"
                                                    style="background-color: #1e4261; color: #fff;">send message</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!--======= FOOTER UP =========-->
                <%- include('partials/footer.ejs') %>
        </div>
    </div>
    <!-- Wrap End -->

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/own-menu.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/counter.js"></script>

    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    <script>
        var notyf = new Notyf();
    const form = document.getElementById('contactForm')
    form.addEventListener('submit', submitContactForm)

    async function submitContactForm(event) {
      event.preventDefault();
			name = $('#name').val();
			email = $('#email').val();
			contact = $('#contact').val();
            subject = $('#subject').val();
            message = $('#message').val();
			$.ajax({
				type: 'POST',
				url: '/contact',
				data: {name, email, contact, subject, message},
				success: function (res) {
					if(res.data=='ok') {
					    notyf.success({
					        message: 'Query Sent Successfully',
					        duration: 2000,
					        position: {
					            x: 'right',
					            y: 'top',
					        },
					    })
                        $('#name').val('');
                        $('#email').val('');
                        $('#contact').val('');
                        $('#subject').val('');
                        $('#message').val('');
					}
                    else {
                        notyf.error({
					        message: 'Unable to send your Query, Try again!',
					        duration: 2000,
					        position: {
					            x: 'right',
					            y: 'top',
					        },
					    })
                    }
				}
			})
		}
    </script>

    
</body>

</html>